############################################################
# NODE MODULES
############################################################

node_modules

############################################################
# LOG FILES
############################################################

npm-debug.log

############################################################
# ENV FILES
############################################################

.env

############################################################
# GIT
############################################################

.git
.gitignore

############################################################
# CI/CD
############################################################

.github

############################################################
# DOCUMENTATION
############################################################

README.md

############################################################
# TESTS & COVERAGE
############################################################

coverage

############################################################
# DOCKER
############################################################

Dockerfile
.dockerignore